# ansible/ansible.cfg
# Ansible configuration file
# ansible.cfg
# Define default settings for Ansible operations

[defaults]
inventory = ./inventory/hosts.ini
remote_user = ubuntu
private_key_file = ~/.ssh/autoops_key.pem
host_key_checking = False
retry_files_enabled = False
